.sidenav {
	height: 0px;
	width: 100%;
	color: #D0D0D0;
	position: fixed;
	z-index: 5;
	visibility: hidden;
	bottom: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	
}

.sidenav a{
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 150px;
	color: red;
	display: block;
	transition: 0.3s;
}

.sidenav a:hover, .offcanvas a:focus{
	color: #F2354C;
}

.sidenav .closebtn {
	position: absolute;
	top: -10;
	right: 25px;
	font-size: 80px;
	margin-left: 50px;
	z-index: 5;
}

.sidenav .scroll {
	position: absolute;
	overflow-y: auto;
	bottom: 0px;
	left: 0px;
	font-size: 20px;
	padding-bottom: 10px;
	height: 100%;
	width: 100%;
	color: #D5D5D5;
	display: block;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-color: #555555;
	background-color: #505050;
	width: 100%;
}

.userStats {
	position: absolute;
	display: inline-block;
	top: 0px;
	left: 0px;
	height: 90%;
	width: 100%;
	padding-top: 50px;
}

.topBar {
	position: absolute;
	bottom: 10px;
	width: 100%;
	border-style: solid;
	border-width: 5px 0px 0px 0px;
	border-color: #555555;
	background-color: #505050;
	width: 100%;
}

.scroll .topbar tr:hover {
	background-color: #303030;
}

.scroll .topbar th {
	background-color: #505050;	
}

.scroll .topbar th:hover {
	background-color: #505050;
}

@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}



#xhead {
  float: center;
  width: 100%;
  color: black;
  font-size: 50px;
  height: 100px;
  overflow-y: scroll;
}

#xhead, td, th {
	/*border: 1px solid #ccc;*/
  border-collapse: collapse;
  padding: 15px; 
  text-align: center;
  
}
@media only screen and (min-width: 450px) {
	#xhead, th{
  	height: 60px;
	}
}
@media only screen and (min-width: 1000px) {
	#xhead, th{
  	height: 30px;
	}
}

#xhead caption {
	font-size: 100px;
	width: 1000px;
}

#container1{
    width: 100%;
    overflow: hidden;
    height: 100%;
}

#btnControl: checked + body {
	filter: blur(5px);
}

.sidenav #winboi {
	color: #F2354C;
}xhead